html {
    height: 100vh;
}

body {
    margin: 0;
}

/* sizing of map container */
.leaflet-container {
    height: 100vh;
    position: relative;
}

.leaflet-bottom ~ .leaflet-right {
    display: none;
}

.leaflet-top ~ .leaflet-right {
    top: 45px;
}

.leaflet-routing-container,
.leaflet-routing-error {
    width: 265px !important;
}

.ant-modal-root {
    position: absolute;
    z-index: 1001;
}
